body{
    background-color: #222828;
    padding: 3%;
}

.inicio{
    color: white;
    text-align: center;
    margin-bottom: 1%;
   

}

.img-principal{
    width: 8%;
}

.iniciop{
    color: white;
    font-style: italic;

}

p{
    font-style: italic;
}

.img-principio{
    width: 7.1%;
    height: 7.1%;
   
    
}
.first-box{
   
    justify-content: center;
    align-items: center;
}

.titulo-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1-1{
    margin-top: 1.5px;
}

.linea-inicio{
    width: 30%;
    height: 3px;
    margin-bottom: 1px;
    background: rgb(255,77,0);
    background: linear-gradient(90deg, rgba(255,77,0,0.938813025210084) 0%, rgba(255,0,0,1) 35%, rgba(0,0,255,1) 71%, rgba(0,255,74,1) 100%);
    border: none;
}

.img-primera{
    display: flex;
    justify-content: flex-end;
    
}

#primero{
    background-color: #0C0C0C;
    padding: 2%;
}

.p-inicio{
    color: white;
}

.principio{
    background-color: #C3CACA;
    padding: 2%;
}

.contenedor-img {
    width: 60%;
    height: 50%;
}
    
.img-c {
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.caja1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.titulos-p {
    border-top: 2px black solid;
    padding-top: 2%;
}

/* .linea1 {
    width: 55%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
} */
/* 
.linea2{
    width: 35%;
    background: black;
    height: 2px;
    margin-bottom: 1px;
    margin-top: 7%;
} */

.img-principio2{
    width: 7.1%;
    height: 7.1%;
}

.final{
    background-color: #0C0C0C;
    padding: 1%;
   
}

.final-img1{
    width: 5%;
    height: 5%;
    float: right;
    
   
}
.img-final{
    display: flex;
    justify-content: center;
}

.h1{
    text-align: center;
    color: white;
}

.p-h1{
    color: white;
}

.pfinal{
    text-align: center;
    color: white;
    font-style: italic;
    margin-bottom: 6%;
}

.text-final{
    display: flex;
    justify-content: center;
    align-items: center;
}

summary{
    list-style: none;
    text-decoration: underline;
    color: purple;
    margin-bottom: 10%;
}

.ultima-caja{
   background-color: #ccdfdf;
   padding: 1.8%;
   border-radius: 5%;
   margin-bottom: 2%;
   
}

.final-img2{
    width: 6%;
   
}

#img-final2{ 
    display: flex;
    justify-content: flex-end;
   align-items: flex-end;

}

@media screen and (min-width: 700px) {
    body{
        background-color:peru;

    }
    #principal-1{
        display: flex;
        flex-direction:row ;
    }

    .principio{
        background-color: chocolate;
    }

    .linea-inicio{
        background: rgb(3,0,255);
        background: linear-gradient(90deg, rgba(3,0,255,1) 5%, rgba(255,0,0,1) 28%, rgba(255,110,0,1) 40%, rgba(243,255,0,1) 50%, rgba(255,131,0,1) 58%, rgba(255,0,0,1) 77%, rgba(3,0,255,1) 91%, rgba(77,0,255,0.938813025210084) 97%);
    }

    .linea1{
        width: 35%;
        border: none;

    }

    .linea2{
        width: 25%;
        border: none;

    }

    .linea3{
        width: 43%;
        border: none;

    }

    .linea4{
        width: 28%;
        border: none;

    }

    .linea5{
        width: 15%;
        border: none;
        

    }

    .linea6{
        width: 46%;
        border: none;

    }

   

   
}