.img1{
    width: 60%;
    height: 30%;
    border-radius: 15%;
}

.img2{
    width: 60%;
    height: 50%;
    border-radius: 45%;
}

.img3{
    width: 60%;
    height: 50%;
    border-radius: 40%;
}

.img4{
    width: 60%;
    height: 40%;
    border-radius: 40%;
}