body{
    background-color: #222828;
    padding: 3%;
}

.principio{
    background-color: #C3CACA;
}
    
.img1{
    width: 60%;
    height: 30%;
    border-radius: 15%;
}

.img2{
    width: 60%;
    height: 50%;
    border-radius: 45%;
}

.img3{
    width: 60%;
    height: 50%;
    border-radius: 40%;
}

.img4{
    width: 60%;
    height: 40%;
    border-radius: 40%;
}

.caja1{
    text-align: center;
}

.linea1 {
    width: 20%;
}

.linea2{
    width: 30%;
}

.linea3{
    width: 65%;
}

.linea4{
    width: 35%;
}

.linea5{
    width: 25%;
}

.linea6{
    width: 48%;
}

h1{
    margin-top: 0%;
}

.final{
    background-color: #0C0C0C;
}

.final-img1{
    width: 5%;
    height: 5%;
   
}